node_modules
public/
.hugo_build.lock
hugo_stats.json
package.hugo.json
.idea/
.DS_Store
https://www.prakashbhandari.com.np/posts/create-q-a-with-open-ai-nodejs-and-react/images/posts/create-q-a-with-open-ai-nodejs-and-react/create-q-a-with-open-ai-nodejs-and-react.svg
